/* ---------------------  UN PRODUCTO ----------------- */
.product-info .product-info-price {
    margin: 1rem 0 2rem;
    span {
        background-color: $danger-color;
        color: $white;
        padding: .5rem 2rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .7), 0 7px 10px rgba(0, 0, 0, .3);
        font-weight: bold;
        font-size: 1.5rem;
        display: inline;
    }
}
button.comprar {
    border: 0
}