.summary-purchase {
    border-radius: 5px;
    overflow: hidden;
    h3 {
        color: $white;
        margin: 0;
    }
    p {
        font-size: 1rem;
    }
    .row .row {
        border:1px solid rgba($gray-999, .55);
        border-top:none;
    }
    .row>[class*="col-"]:not(:last-child){
        border-right:1px solid rgba($gray-999, .55);
    }
    .row.summary-purchase-line:last-child {
        background-color:rgba($gray-999,.55);
        border-radius:0 0 5px 5px;
    }
    .col.summary-options .row,
    .col.summary-buttons .row {
        border:none;
        margin-top:2rem;
    }
}

