//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-elements: 1001;
$z-index-slider-elements: 1001;
$z-index-header: 5000;
$z-index-header-menu: 5000;
$z-index-overlay: 5001;
$z-index-spinner: 5002;
// END Z-INDEX

//typography
$font-stack: Montserrat, Arial, Helvetica, sans-serif;
