//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-elements: 1001;
$z-index-slider-elements: 1001;
$z-index-header: 5000;
$z-index-header-menu: 5000;
$z-index-overlay: 5001;
$z-index-spinner: 5002;

//typography
$font-stack: Montserrat, Arial, Helvetica, sans-serif;

//colors
$primary-color: #7dca2b;
$secondary-color: #383105;
$terciary-color: #454545;
$gray-999: #999999;
$white: #ffffff;
$black: #000000;
$danger-color:#ff0000;

