.login {
    width:100vw;
    height:100vh;
    position: fixed;
    background-color:lighten(#7cDA2B,20%);

    .formulario {
        background-color: white;
        width:90vw;
        padding:2rem;
        text-align: center;
        border-radius:5px;
        box-shadow:0 3px 3px rgba(0,0,0,.1), 0 5px 15px rgba(0,0,0,.5);
        @media (min-width:992px){
            width:20%;
        }
        .logo-img {
            width:70%;
            margin:auto;
        }
        .svg-img {
            width:100%;
        }
        h1 {
            font-size: 1.5rem;
        }
        input {
            border-radius:5px;
            border:none;
            background-color: rgba(0,0,0,.15);
            padding:1rem;
            width: 100%;
        }
        .checkbox {
            margin-top:2rem;
            margin-bottom:2rem;
        }
        label {
            margin-top:1rem;
            margin-bottom:.3rem;
            font-size: 0.9rem;
        }
        input[type="checkbox"] {
            width:auto;
        }

    }
}