.hamburger {
	padding:.1rem .5rem;
	margin-left:.2rem;
	margin-right:1rem;

}
.hamburger .line{
	width: 30px;
	height: 3px;
	background-color: $gray-999;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
	cursor: pointer;
  }
  
  /* THREE */
  
  #hamburger-3.is-active .line:nth-child(1),
  #hamburger-3.is-active .line:nth-child(3){
	width: 20px;
  }
  
  #hamburger-3.is-active .line:nth-child(1){
	-webkit-transform: translate(-10px, 5px) rotate(-45deg);
	-ms-transform: translate(-10px, 5px) rotate(-45deg);
	-o-transform: translate(-10px, 5px) rotate(-45deg);
	transform: translate(-10px, 5px) rotate(-45deg);
  }
  
  #hamburger-3.is-active .line:nth-child(3){
	-webkit-transform: translate(-10px, -5px) rotate(45deg);
	-ms-transform: translate(-10px, -5px) rotate(45deg);
	-o-transform: translate(-10px, -5px) rotate(45deg);
	transform: translate(-10px, -5px) rotate(45deg);
  }