.product-features-tabs {
    .item {
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        background-color: #ddd;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color:white;
        transition: all .3s ease-in-out;
        cursor:pointer;
        user-select: none;
        &.active {
            padding-top:calc( 1rem + 3px );
            padding-bottom:calc( 1rem + 3px );
            top:-3px;
            position:relative;
            border: 1px solid rgba(0,0,0,.3);
            border-bottom:none;
            background-color: white;
            color: $terciary-color;
            box-shadow: 0 -2px 3px rgba(0,0,0,.2);
            z-index:3;
        }
        &:not(.active):hover{
            background-color: #ccc;
            transition: all .3s ease-in-out;
        }
    }
    .item-content {
        padding:1rem;
        border: 1px solid rgba(0,0,0,.3);
        position: relative;
        top:-4px;
        box-shadow: 0 -2px 3px rgba(0,0,0,.2);
        display: none;
        background-color: white;
    }

    .item-content:first-child {
        border-top-left-radius: 0px;
    }
    .features-wrapper {
        background-color: red;
    }
    .active {
        display: block;
    }
    .footer {
        border: 1px solid rgba(0,0,0,.3);
        border-top: none;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        top:-4px;
        button {
            border:none;
            padding:1rem;
            transition: all .3s ease-in-out;
            &.save {
                background-color: $primary-color;
                color:white;
                &:hover {
                    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
                }
                &:active {
                    box-shadow: inset 0 0 30px rgba(0,0,0,1);
                }
            }
            &.reset {
                &:hover {
                    box-shadow: inset 0 0 10px rgba(0,0,0,.5);
                }
                &:active {
                    box-shadow: inset 0 0 30px rgba(0,0,0,1);
                }
            }
        }
    }
}